<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/sncss/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
    <script type=text/javascript src="/zTree_v3/js/jquery.min.js"></script>
    <script type="text/javascript" src="/zTree_v3/js/jquery.ztree.core-3.5.js"></script>

    <script type=text/javascript>
        var setting = {
            view: {
                showLine: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var zNodes = [
            {id: 1, pId: 0, name: "父節點1 - 展開", open: true},
            {id: 11, pId: 1, name: "父節點11 - 摺疊"},
            {id: 111, pId: 11, name: "葉子節點111"},
            {id: 112, pId: 11, name: "葉子節點112"},
            {id: 113, pId: 11, name: "葉子節點113"},
            {id: 114, pId: 11, name: "葉子節點114"},
            {id: 12, pId: 1, name: "父節點12 - 摺疊"},
            {id: 121, pId: 12, name: "葉子節點121"},
            {id: 122, pId: 12, name: "葉子節點122"},
            {id: 123, pId: 12, name: "葉子節點123"},
            {id: 124, pId: 12, name: "葉子節點124"},
            {id: 13, pId: 1, name: "父節點13 - 沒有子節點", isParent: true},
            {id: 2, pId: 0, name: "父節點2 - 摺疊"},
            {id: 21, pId: 2, name: "父節點21 - 展開", open: true},
            {id: 211, pId: 21, name: "葉子節點211"},
            {id: 212, pId: 21, name: "葉子節點212"},
            {id: 213, pId: 21, name: "葉子節點213"},
            {id: 214, pId: 21, name: "葉子節點214"},
            {id: 22, pId: 2, name: "父節點22 - 摺疊"},
            {id: 221, pId: 22, name: "葉子節點221"},
            {id: 222, pId: 22, name: "葉子節點222"},
            {id: 223, pId: 22, name: "葉子節點223"},
            {id: 224, pId: 22, name: "葉子節點224"},
            {id: 23, pId: 2, name: "父節點23 - 摺疊"},
            {id: 231, pId: 23, name: "葉子節點231"},
            {id: 232, pId: 23, name: "葉子節點232"},
            {id: 233, pId: 23, name: "葉子節點233"},
            {id: 234, pId: 23, name: "葉子節點234"},
            {id: 3, pId: 0, name: "父節點3 - 沒有子節點", isParent: true}
        ];


        $(document).ready(function () {
            var $user1 = $('#user1').val();
            $.ajax({
                type: "post",
                dataType: "json",
                global: false,
                url: "/admin.php/Home/Common/getTree",
                data: {
                    user1: $user1
                },
                success: function (data, textStatus) {
                    if (data.status == 0) {
                        zNodes1 = data.data;
                        $.fn.zTree.init($("#treeDemo"), setting, zNodes1);
                    } else {
                        alert("您還沒有");
                    }

                    return;
                }

            });

            //$.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });


        $(function () {


            $('#btn').click(function () {

                var $user = $('#user').val();
                $.ajax({
                    type: "post",
                    dataType: "json",
                    global: false,

                    url: "/admin.php/Home/Common/getTreeso",
                    data: {
                        user: $user
                    },
                    success: function (data, textStatus) {
                        if (data.status == 0) {
                            //alert(data.nr);

                            zNodes1 = data.data;
                            $.fn.zTree.init($("#treeDemo"), setting, zNodes1);
                        } else {
                            alert(data.data);
                        }

                        return;
                    }

                });


            })


        })


    </script>
</head>
<style>
    input {
        border: 1px #cccccc solid;
        height: 25px;
        line-height: 25px;
    }
</style>
<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">奖金设定</a></li>
    </ul>
</div>

<div class="rightinfo">
    <div class="tools"></div>
    <table class="tablelist">
        <form action="{:U('Home/Index/jjset')}" method="post">
            <thead>
            <tr>
                <th width="15%">仅需互助</th>
                <th width="85%"><input name="jj01s" value="{$jj01s}" type="" />元 — <input name="jj01m" value="{$jj01m}" type="" />元 必须<input name="jj01" value="{$jj01}" type="" />元的整倍数</th>
            </tr>
            <tr>
                <th width="15%">新用户注册奖励</th>
                <th width="85%"><input name="reg_jiangli" value="{$reg_jiangli}" type="number" />元</th>
            </tr>
            <tr>
                <th width="15%">排队分红天数</th>
                <th width="85%"><input name="pdfhdays" value="{$pdfhdays}" type="number" />天</th>
            </tr>
            <tr>
                <th width="15%">打款后分红天数</th>
                <th width="85%"><input name="jjfhdays" value="{$jjfhdays}" type="number" />天</th>
            </tr>
            <tr>
                <th width="15%">提现冻结天数</th>
                <th width="85%"><input name="jjdjdays" value="{$jjdjdays}" type="number" />天</th>
            </tr>
            <tr>
                <th width="15%">刚注册用户索罗斯支出冻结天数</th>
                <th width="85%"><input name="reg_days" value="{$reg_days}" type="number" />天&nbsp;&nbsp;(0表示不冻结，已注册就可以索罗斯支出，1表示注册一天后，才可以索罗斯支出，等其他操作)</th>
            </tr>
            <tr>
                <th width="15%">匹配天数</th>
                <th width="85%"><input name="jjppdays" value="{$jjppdays}" type="number" />天</th>
            </tr>
            <tr>
                <th width="15%">用户索罗斯支出最多允许等待匹配单数</th>
                <th width="85%">
                    <input name="oneByone" value="{$oneByone}" type="number" />单&nbsp;&nbsp;(用户索罗斯支出最多允许等待匹配单数，0表示无限制，1表示只能等待1单)
                </th>
            </tr>
            <tr>
                <th width="15%">用户索罗斯支出配对之后最多允许等待交易单数</th>
                <th width="85%">
                    <input name="peidui" value="{$peidui}" type="number" />单&nbsp;&nbsp;(用户索罗斯支出配对之后最多允许等待交易完成单数，0表示无限制，1表示只能等待1单)
                </th>
            </tr>
            <tr>
                <th width="15%">每天索罗斯支出排单开始时间</th>
                <th width="85%"><input  name="paidan_time_start"  placeholder="请输入开始时间" value="{$paidan_time_start}">(格式：9:59,23:59,9:4不要输9:04)</th>
            </tr>
            <tr>
                <th width="15%">每天索罗斯支出排单结束时间</th>
                <th width="85%"><input  name="paidan_time_end"  placeholder="请输入结束时间" value="{$paidan_time_end}">(格式：9:59,23:59,9:4不要输9:04)</th>
            </tr>
            <tr>
                <th width="15%">是否开启时间限制</th>
                <th width="85%">
                    <select name="time_limit">
                        <option <if condition="$time_limit eq 1" >selected</if> value="1">开启</option>
                        <option <if condition="$time_limit eq 0" >selected</if> value="0">关闭</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th width="15%">用户每天索罗斯支出排单数量</th>
                <th width="85%"><input  name="paidan_num"  placeholder="用户每天排单数量" value="{$paidan_num}">单</th>
            </tr>
            <tr>
                <th width="15%">每天用户索罗斯支出排单总额度</th>
                <th width="85%"><input  name="paidan_jbs"  placeholder="用户每天排单总额度" value="{$paidan_jbs}">元</th>
            </tr>
            <tr>
                <th width="15%">配对模式</th>
                <th width="85%">
					<select name="jjppms">
						<option <if condition="$jjppms eq 1" >selected</if> value="1">自动匹配</option>
						<option <if condition="$jjppms eq 0" >selected</if> value="0">手动匹配</option>
					</select>
				</th>
            </tr>

            <tr>
                <th width="15%">用户索罗斯支出月投资额度封顶</th>
                <th width="85%"><input name="month_max" value="{$month_max}" type="number" />元</th>
            </tr>
            <tr>
                <th width="15%">直推奖</th>
                <th width="85%"><input name="jjtuijianrate" value="{$jjtuijianrate}" type="number" />%</th>
            </tr>
            <tr>
                <th width="15%">推荐奖</th>
                <th width="85%"><input name="jjtuijianratenew" value="{$jjtuijianratenew}" style="width:300px;" type="" />% 用,号分隔；第一位表示第一代，第二位表示第二代．．．．</th>
            </tr>
            <tr>
                <th width="15%">推荐奖级别对应代数</th>
                <th width="85%"><input name="jjtuijianjbdaishu" value="{$jjtuijianjbdaishu}" style="width:300px;" type="" />代 用,号分隔；并且个数应与会员级别个数对应</th>
            </tr>
            <tr>
                <th width="15%">升级经理条件</th>
                <th width="85%">下线索罗斯支出的金额达到<input name="xiaxian_jb" value="{$xiaxian_jb}" type="" />元的会员人数有<input name="xiaxian_num" value="{$xiaxian_num}" type="" />位 ，且自己索罗斯支出的金额最少为<input name="my_jb" value="{$my_jb}" type="" />元</th>
            </tr>
            <tr>
                <th width="15%">经理代数奖</th>
                <th width="85%"><input name="jjjldsrate" value="{$jjjldsrate}" style="width:300px;" type="" />% 用,号分隔</th>
            </tr>
              <tr>
                <th width="15%">是否必须经理才可以注册下线</th>
                <th width="85%">
                    <select name="iscan_reg">
                        <option <if condition="$iscan_reg eq 1" >selected</if> value="1">必须</option>
                        <option <if condition="$iscan_reg eq 0" >selected</if> value="0">不必</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th width="15%">开启会员级别奖励</th>
                <th width="85%">
					<select name="jjaccountflag">
						<option <if condition="$jjaccountflag eq 1" >selected</if> value="1">开启</option>
						<option <if condition="$jjaccountflag eq 0" >selected</if> value="0">关闭</option>
					</select>
				</th>
            </tr>
            <tr>
                <th width="15%">会员级别</th>
                <th width="85%"><input name="jjaccountlevel" value="{$jjaccountlevel}" style="width:300px;" type="" />用,号分隔 (从低到高)</th>
            </tr>
            <tr>
                <th width="15%">会员升级下线人数</th>
                <th width="85%"><input name="jjaccountnum" value="{$jjaccountnum}" style="width:300px;" type="" />用,号分隔 (从低到高)</th>
            </tr>
            <tr>
                <th width="15%">会员级别奖金比率</th>
                <th width="85%"><input name="jjaccountrate" value="{$jjaccountrate}" style="width:300px;" type="" />% 用,号分隔</th>
            </tr>
            <tr>
                <th width="15%">打款时间</th>
                <th width="85%"><input name="jjdktime" value="{$jjdktime}" type="number" />小时</th>
            </tr>
             <tr>
                <th width="15%">超时未打款冻结提示语</th>
                <th width="85%"><input name="jjhydjmsg" value="{$jjhydjmsg}" type="text" size="100"/></th>
            </tr>
             <tr>
                <th width="15%">超时未打款扣除上级金额</th>
                <th width="85%"><input name="jjhydjkcsjmoeney" value="{$jjhydjkcsjmoeney}" type="number" />元</th>
            </tr>
            <tr>
                <th></th>
                <th><input name="submit" value="提交" type="submit"/></th>
            </tr>
            </thead>
        </form>
    </table>

</div>
</body>
</html>
