<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="ie lt-ie9 lt-ie8 lt-ie7 fluid top-full sidebar sidebar-full sticky-sidebar">
  <![endif]-->
  <!--[if IE 7]>
    <html class="ie lt-ie9 lt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
    <![endif]-->
    <!--[if IE 8]>
      <html class="ie lt-ie9 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
      <![endif]-->
      <!--[if gt IE 8]>
        <html class="ie gt-ie8 fluid top-full sticky-top sidebar sidebar-full sticky-sidebar">
        <![endif]-->
        <!--[if !IE]><!-->
          <html>
            <!-- <![endif]-->
            
            <head>
              <script type="text/javascript" src="/bitStyle/js/jquery.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/bootstrap.min.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/modernizr.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/selectivizr.js">
              </script>
              <script type="text/javascript" src="/bitStyle//js/jquery.cookie.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/scripts.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/remaining.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/fn_number_format.js">
              </script>
              <script type="text/javascript" src="/bitStyle/js/9acba5c0d35076a1ccd574dfc21b8b2b.js">
              </script>
              <script type="text/javascript">
                var _gNow = new Date();

                setInterval(function() {
                  $.ajax({
                    url: '?aj=1&type=check_login',
                    data: {
                      'uid': 82662186
                    },
                    dataType: 'json',
                    error: function() {},
                    success: function(data) {
                      if (data.loggedout == '1') {
                        window.location.href = "/bitStyle/zh-CN/";
                      }
                    }
                  })
                },
                300000); //5min
        
<script type="text/javascript">

</script>

<script type="text/javascript">
jQuery(document).ready(function($){
    var gdBtn = $('#gdBtn');
    var pdBtn = $('#pdBtn');
    
    pdBtn.click(function(){
        $(this).toggleClass('active');
        gdBtn.removeClass('active');
        $('#pdWrap').stop(true, false).slideToggle('fast');
        $('#gdWrap').stop(true, false).slideUp('fast').removeClass('open');
        return false;
    });
    // if user status is freeze or just unblock and not yet do the maintain
    gdBtn.click(function(){
        $(this).toggleClass('active');
        pdBtn.removeClass('active');
        $('#gdWrap').stop(true, false).slideToggle('fast');
        $('#pdWrap').stop(true, false).slideUp('fast').removeClass('open');
        return false;
    });
        
    // Tooltips
    $('.tip').tooltip({placement: 'top'});
    $('.tipr').tooltip({placement: 'right'});
    $('.tipb').tooltip({placement: 'bottom'});
    $('.tipl').tooltip({placement: 'left'});
    
    $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
    
    var _server_time = new Date(),
        _server_time2 = new Date(),
        _local_time = new Date(),
        _local_time2 = new Date();
        _server_time2 = new Date(),
        _local_time = new Date(),
        _local_time2 = new Date();
    
    _timer = setInterval(function(){
        var now = new Date();
        true_elapsed = Math.round((now.getTime() - _gNow.getTime()) / 1000);        //synchronize & increment 1 second
        second = _local_time.getTime() + 1000;
        elapsed = Math.round((second - _local_time2.getTime()) / 1000);
        if(elapsed < true_elapsed){
            diff = true_elapsed - elapsed;
            second += (diff * 1000);
        }
        _local_time.setTime(second);
        second = _server_time.getTime() + 1000;
        elapsed = Math.round((second - _server_time2.getTime()) / 1000);
        if(elapsed < true_elapsed){
            diff = true_elapsed - elapsed;
            second += (diff * 1000);
        }
        _server_time.setTime(second);
        
        //update server time
        date_text = padNumber(_server_time.getHours())+':'+padNumber(_server_time.getMinutes())+':'+padNumber(_server_time.getSeconds());
        date_text += ' ' + _server_time.getDate()+'/'+(_server_time.getMonth()+1)+'/'+_server_time.getFullYear();
        $('#server_time_text').html(date_text);
        //update local time
        date_text = padNumber(_local_time.getHours())+':'+padNumber(_local_time.getMinutes())+':'+padNumber(_local_time.getSeconds());
        date_text += ' ' + _local_time.getDate()+'/'+(_local_time.getMonth()+1)+'/'+_local_time.getFullYear();
        $('#local_time_text').html(date_text);
    }, 1000);
    
    /**
    * @param number An integer
    * @return Integer padded with a 0 if necessary
    */
    function padNumber(number) {
        return (number >= 0 && number < 10) ? '0' + number : number;
    }
});
</script>

<script type="text/javascript">
jQuery(document).ready(function($){
    var _allsecs = new Array();
    var _allsecs2 = new Array();
    var _i18n = {
        weeks: ['星期', '星期'],
        days: ['天', '天'],
        hours: ['小时', '小时'],
        minutes: ['分', '分'],
        seconds: ['秒', '秒']
    };
    $('.maintain_remain_time').each(function(){
        var _rid = $(this).attr('id');
        var _seconds = parseInt($(this).attr('rel'));
        if(_seconds > 0){
            $(this).html(
                remaining.getString(_seconds, _i18n, false)
            );
        }
        else{
            $(this).html('剩余0天');
        }
        _allsecs[_rid] = _seconds;
        _allsecs2[_rid] = _seconds;
    });
    timer = setInterval(function(){
        var now = new Date();
        true_elapsed = Math.round((now.getTime() - _gNow.getTime()) / 1000);        $('.maintain_remain_time').each(function(){
            var _rid = $(this).attr('id');
            if(typeof _allsecs[_rid] == 'undefined'){
                _allsecs[_rid] = parseInt($(this).attr('rel'));
            }
            _seconds = _allsecs[_rid];
            if(typeof _allsecs2[_rid] == 'undefined'){
                _allsecs2[_rid] = parseInt($(this).attr('rel'));
            }
            //synchronize
            _diff_sec = _allsecs2[_rid] - _seconds;
            if(_diff_sec < true_elapsed){
                _seconds = _allsecs2[_rid] - true_elapsed;
            }
            if(_seconds > 0){
                $(this).html(
                    remaining.getString(_seconds, _i18n, false)
                );
                _allsecs[_rid] = --_seconds;
            }
            else{
                $("#too_many_user").hide();
                $("#login_btn").removeAttr("disabled");
                $(this).html('剩余0天');
            }
        });
    }, 1000);
});
</script>

<script type="text/javascript">

</script>

<script type="text/javascript">
jQuery(document).ready(function($){
    var pin_message = "此次执行需要{quantity}PIN。";
        $('#maintain_back_btn, #pd_back_btn, #gd_back_btn').click(function(){
        $('input[name=__req]').val('start'); //back to starting step
    });
    
    if("0"){
        $("#pd_pin").text(pin_message.replace("{quantity}", parseInt(0 / 0.5)));
    }else{
        $("#pd_pin").text(pin_message.replace("{quantity}", 1));
    }
    
    $("input[name=from_wallet]").change(function(){
        if($(this).val() == 'cwallet'){
            $("#minimum_amount").text("BTC0.50000000");
        }else{
            $("#minimum_amount").text("BTC0.50000000");
        }
    });
    
    $("#show_pd_amount").html(format_monetary_value(0));
    $("#show_gd_amount").html(format_monetary_value(0));
    
    $("#pd_amount").keyup(function(){
        $("#show_pd_amount").html(format_monetary_value($(this).val()));
        if($(this).val() > 0.5 && $(this).val() % 0.5 == 0){
            $("#pd_pin").text(pin_message.replace("{quantity}", $(this).val() / 0.5));
        }else{
            $("#pd_pin").text(pin_message.replace("{quantity}", 1));
        }
    });
    $("#gd_amount").keyup(function(){
        $("#show_gd_amount").html(format_monetary_value($(this).val()));
    });
    
    if(false){
        $("#recalc-ep-message").text("您的额外回酬已计算。请稍候片刻再尝试。");
        $("#recalc-ep-button").attr("disabled", "disabled");
        setTimeout(function(){
            $("#recalc-ep-button").removeAttr("disabled");
            $("#recalc-ep-message").text("");
        }, 0);
    }
    
    $("#recalc-ep-button").on("click", function(e){
        e.preventDefault();
        $("#recalc-ep-message").text("您的额外回酬已计算成功。如果想再计算，请稍候片刻再尝试。");
        $(this).attr("disabled", "disabled");
        $.ajax({
            url: '?aj=1&type=recalc_user_ep',
            data: {'uid': 82662186},
            type: 'post',
            dataType: 'json',
            error:function(data){
                console.log(data);
            },
            success: function(data){
                if(data.percent > 0){
                    $("#current_ep").html(data.percent);
                }
            }
        });
        setTimeout(function(){
            $("#recalc-ep-button").removeAttr("disabled");
            $("#recalc-ep-message").text("");
        }, 1800000);
    });
});
</script>
   <link rel="stylesheet" href="/bitStyle/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/bitStyle/css/font-awesome.min.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/main.v001.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/zh-CN.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/fileupload.css" type="text/css"
              />
              <link rel="stylesheet" href="/bitStyle/css/style.css" type="text/css"
              />


<title>公告 |  索罗斯(中国)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />


<!-- Favicons -->
<link rel="shortcut icon" href="/bitStyle/favicon.ico" type="image/x-icon">
<link href='http://fonts.googleapis.com/css?family=Roboto:500,400' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700' rel='stylesheet' type='text/css'>
<style type="text/css">
<!--
.STYLE1 {font-family: "微软雅黑"}
-->
</style>
</head>
<body class="zh-CN " id="">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65533920-1', 'auto');
  ga('send', 'pageview');
</script>
 <include file="User/Home/View/default/common_header.html" />
<script type="text/javascript">
$(document).ready(function() {

//$(".top-button").click(function (e) {
//    e.stopPropagation();
//    $(".dropdown-menu").hide();
//    $(this).next().show();

//});

//$(".navbar-collapse").on('click', function(e){
    //e.stopPropagation();
//})
//$("body").on('click', function(e){
    //if ($(".navbar-collapse").hasClass("in")) {
        //$(".navbar-collapse").collapse('hide');
    //}
//})


//$(document).click(function (e) {
//    $(".dropdown-menu").hide();
//});



    
});
</script>






<div id="wrapper">
<div class="blue-bg" style="min-height:1000px;">

<include file="User/Home/View/default/common_main.html" />

            <div class="row">
                <div class="innerContent">
                    <div class="row">
                        <div class="col-md-12 tablet-column-reset">
                            <div class="widget STYLE1">
                                <div class="widget-head">
                                    <h4 class="heading">公告</h4>
                                </div>
                                <div class="widget-body margin-none">
                                    <volist name="list" id="info">
                                            <div class='media-body innerAnnounce'>
                                              <div class='readMore' data-url="{:U('Index/newsPage',array(id=>$info['if_id']))}">
                                                <h5>
                                                  <a href="{:U('Index/newsPage',array(id=>$info['if_id']))}">
                                                    {$info.if_theme}                                                  </a>                                                </h5>
                                                <p class='text-muted'>
                                                  {$info.if_time}                                                </p>
                                                <p class='margin-none'>
                                                 {$info.if_content}                                                </p>
                                              </div>
                                            </div>                                                                                            
                                        </volist>
                                 </div>
                                <footer class="data-footer innerAll half text-right clearfix">
                                    <div class="pull-left">
                                        <a href="{:U('Index/home')}" class="btn btn-inverse btn-sm">返回</a>                                    </div>
                                    <div class="custom-pagi pull-right">
                                            {$page}                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</div>
        </div>
    </div>
</div>
</body>
</html>

